<link rel="stylesheet" type="text/css" href="app/profileModule/profileView.css">
<div class="container-fluid">
    <div class="row">
        <div class="headerItems">
            <div class="pageTitle">
                <h2>Hi {{userName}}, welcome back to your profile!</h2>
            </div>
            <div class="logoutButton">
                <md-button class="md-raised md-primary" ng-click="logout()">logout</md-button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <div class="saved_routes_container">
                <h3>Saved Routes</h3>
                <div class="card_contanier">
                    <md-card class="route_card" ng-repeat="route in savedRoutes track by $index">
                        <md-card-actions layout="row" layout-align="start center">
                            <md-card-title class="">
                                <md-card-title-text>
                                    <h4>{{route.loc1.name}}</h4>
                                </md-card-title-text>
                            </md-card-title>
                            <div><i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i></div>
                            <md-card-title class="">
                                <md-card-title-text>
                                    <h4>{{route.loc2.name}}</h4>
                                </md-card-title-text>
                            </md-card-title>
                            <div><i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i></div>
                            <md-card-title class="">
                                <md-card-title-text>
                                    <h4>{{route.loc3.name}}</h4>
                                </md-card-title-text>
                            </md-card-title>
                            <div class="delete_icon" ng-click="deleteRoute(this.route)">
                                <i class="fa fa-trash"></i>
                            </div>
                    </md-card>
                </div>
            </div>
        </div>
        <div class="col-md-7" class="border map_div">
            <section>
                <div id="map"></div>
            </section>
        </div>
    </div>
</div>