<link rel="stylesheet" type="text/css" href="app/routesModule/routesView.css">
<div class="container-fluid">
    <div layout="row" layout-sm="column" layout-align="space-around">
        <section>
            <div class="title_row" ng-show="loadingIcon">
                <h1>Pick a route in {{city}}!</h1>
            </div>
        </section>
    </div>

    <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="loadingIcon" class="loading_icon">
        <section>
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </section>
    </div>
    <div class="row" ng-show="loadingIcon" ng-hide="hideRoutes">
        <div class="col-md-6" class="choices_div">
            <div class="routes_button_container">
                <md-button class="md-raised open-options-button" type="button" data-toggle="collapse" data-target="#collapseExample" aria-controls="collapseExample">Options</md-button>
                <md-button class="md-raised shuffle_choices_button" ng-click="shuffle()">New</md-button>
                <md-button class="md-raised md-accent save_route_button" ng-show="loggedIn" ng-click="saveRoute(closetToMe[0],closetToMe[1],closetToMe[2])">Save</md-button>
                <md-button class="md-raised md-accent pick_route_button" ng-click="makeMap(closetToMe[0],closetToMe[1],closetToMe[2])">Show</md-button>
            </div>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <section>
                        <div layout="row">
                            <md-input-container>
                                <label>Distance</label>
                                <md-select ng-model="selectedItem" md-selected-text="getSelectedText()">
                                    <md-optgroup label="distance">
                                        <md-option ng-value="distance" ng-repeat="distance in radius">{{distance}} meters</md-option>
                                    </md-optgroup>
                                </md-select>
                            </md-input-container>
                        </div>
                    </section>
                    <section>
                        <div class="demo-select-all-checkboxes" flex="100" ng-repeat="type in typesOfLocation">
                            <md-checkbox ng-model="type">
                                {{ type }}
                            </md-checkbox>
                        </div>
                    </section>
                </div>
            </div>
            <br>
            <section>
                <md-card class="choice_card" ng-show="closetToMe != null">
                    <md-card-actions layout="row" layout-align="start center">
                        <md-card-title class="">
                            <md-card-title-text ng-click="showDetails(closetToMe[0],'a')">
                                <h4>{{closetToMe[0].name}}</h4>
                            </md-card-title-text>
                        </md-card-title>
                        <div><i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i></div>
                        <md-card-title class="">
                            <md-card-title-text ng-click="showDetails(closetToMe[1],'b')">
                                <h4>{{closetToMe[1].name}}</h4>
                            </md-card-title-text>
                        </md-card-title>
                        <div><i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i></div>
                        <md-card-title class="">
                            <md-card-title-text ng-click="showDetails(closetToMe[2],'c')">
                                <h4>{{closetToMe[2].name}}</h4>
                            </md-card-title-text>
                        </md-card-title>
                </md-card>
                <div class="save-details">
                    <div ng-show="$scope.saveSuccess != false"><h1>Save Successfull</h1></div>
                    <div ng-show="$scope.saveFail != false"><h1>Save Failed</h1></div>
                </div>
                <div class="location_details_container">
                    <h3>Location: {{detialsName}}</h3>
                    <h4>Marker: {{marker}}</h4>
                    <h4>Rating: {{detialsRating}}</h4>
                    <img class="location_image" ng-src="{{detailsImage}}" alt="">
                </div>
            </section>
        </div>
        <div class="col-md-6" class="border map_div">
            <section>
                <div id="map"></div>
            </section>
        </div>
    </div>
    <div ng-show="hideRoutes">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">No Current Routes Avaliable</span>
                    <span class="md-subhead">Try going to a new location andy trying agian.</span>
                </md-card-title-text>
                <md-card-title-media>
                    <div class="md-media-lg card-media"></div>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="reloadPage()">Reload The page</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>