<link rel="stylesheet" type="text/css" href="app/loginModule/loginView.css">
<div class="login_container">
    <div class="left_side col-md-6">
        <div ng-cloak>
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Login">
                        <md-content class="md-padding">
                            <md-content ng-cloak="ng-cloak" class="login_form">
                                <md-card>
                                    <md-toolbar>
                                        <div class="md-toolbar-tools">
                                            <h2><span>Login</span></h2>
                                        </div>
                                    </md-toolbar>
                                    <md-card-content>
                                        <form name="login_form">
                                            <md-input-container class="md-block">
                                                <label>Email</label>
                                                <input type="text" name="email" ng-model="login_form_email" placeholder="email" required>
                                                <div ng-messages="login_form.email.$error" role="alert">
                                                    <div ng-message="required" class="my-message">Please enter your email.</div>
                                                </div>
                                            </md-input-container>
                                            <md-input-container class="md-block">
                                                <label>Password</label>
                                                <input type="password" name="password" ng-model="login_form_password" placeholder="password" required>
                                                <div ng-messages="login_form.password.$error" role="alert">
                                                    <div ng-message="required" class="my-message">Please enter your password.</div>
                                                </div>
                                            </md-input-container>
                                            <md-button ng-disabled="!login_form.$valid" ng-click="login(login_form_email,login_form_password)" class="md-raised md-primary">&nbsp Login &nbsp</md-button>
                                        </form>
                                    </md-card-content>
                                </md-card>
                            </md-content>
                        </md-content>
                    </md-tab>
                    <md-tab label="Sign Up">
                        <md-content class="md-padding">
                            <md-content ng-cloak="ng-cloak" class="login_form">
                                <md-card>
                                    <md-toolbar>
                                        <div class="md-toolbar-tools">
                                            <h2><span>Sign Up</span></h2>
                                        </div>
                                    </md-toolbar>
                                    <md-card-content>
                                        <form name="sign_up_form">
                                            <md-input-container class="md-block">
                                                <label>Name</label>
                                                <input type="text" name="name" ng-model="sign_up_form_name" placeholder="name" required>
                                                <div ng-messages="sign_up_form.name.$error" role="alert">
                                                    <div ng-message="required" class="my-message">Please enter your name.</div>
                                                </div>
                                            </md-input-container>
                                            <md-input-container class="md-block">
                                                <label>Email</label>
                                                <input type="text" name="email" ng-model="sign_up_form_email" placeholder="email" required>
                                                <div ng-messages="sign_up_form.email.$error" role="alert">
                                                    <div ng-message="required" class="my-message">Please enter your email.</div>
                                                </div>
                                            </md-input-container>
                                            <md-input-container class="md-block">
                                                <label>Password</label>
                                                <input type="password" name="password" ng-model="sign_up_form_password" placeholder="password" required>
                                                <div ng-messages="sign_up_form.password.$error" role="alert">
                                                    <div ng-message="required" class="my-message">Please enter a password.</div>
                                                </div>
                                            </md-input-container>
                                            <md-button ng-disabled="!sign_up_form.$valid" ng-click="signUp(sign_up_form_name,sign_up_form_email,sign_up_form_password)" class="md-raised md-primary">&nbsp Sign Up &nbsp</md-button>
                                        </form>
                                    </md-card-content>
                                </md-card>
                            </md-content>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
    </div>
    <div class="right_side col-md-6">
        <div class="map_background">
            <div class="enter_button">
                <md-button class="md-raised md-primary" ng-click="redirectToRoutes()">Take me to the Map</md-button>
            </div>
        </div>
    </div>
</div>
</div>