
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login_container{
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: center;
}

.left_side{
	/*align-self: flex-start;*/
	width: 50%;
}

.right_side{
	width: 50%;
}

.enter_button{
	align-items: center;
	justify-content: center;
}